html,body
  margin 0
  padding 0
  height 100%


  //头部
  .header-wrap
    height 70px
    width 100%
    display flex
    justify-content center
    align-items center
    z-index 999
    background rgba(255,255,255,0.9)
    &.on
      position fixed
      top 0
      left 0
      animation:show 1.5s ease
      @keyframes show
        from
          transform  translateY(-100%) rotateX(90deg)
        to
          transform  translateY(0) rotateX(0)
    .header-container
      height 65px
      width 1200px
      padding 10px
      box-sizing border-box
      display flex
      align-items center
      position relative

      .header-logo
        display inline-block
        a
          display inline-block
      .header-text
        display inline-block
        position absolute
        right 0
        .header-text-ul
          li
            list-style none
            display inline-block
            box-sizing border-box
            padding 0 15px
            a
              text-decoration none
              font-style normal
              list-style none
              font-weight bold
              color #121212
              &:hover
               color #e94840
               transition .5s
          .header-text-li-address
             margin-right 30px
             position relative
             img
               position absolute
               top 0
               left  -5px
             p
               display inline-block
               font-style normal
               font-weight bold
          .header-text-li-entry
            i
              width 80px
              height 30px
              font-style normal
              background #e94840
              border-radius 5px
              padding 3px 5px
              color white
              font-weight bold


          .header-text-li-firstpage
            a
             color #e94840






  //首页
  .firstpage-body
    display block
    width 100%
    .body-wrap
      width 100%
      height 420px
      .body-container
        width 100%
        height 100%
        position relative
        .body-img-container
          width 100%
          height 100%
          .swiper-container
            width 100%
            height 100%
            .swiper-slide
              text-align: center;
              font-size: 18px;
              background: #fff;
              /* Center slide text vertically */
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
        .body-list-container
          width 180px
          height 100%
          background #7e8c8d
          position absolute
          top 0
          left 200px
          z-index 10
          .body-list-first-li
            list-style none
            >li
              height 42px
              line-height 42px
              text-align center
              a
                text-decoration none
                font-weight bold
                position relative
                width 100%
                i
                  font-weight bold
                  font-style normal
                  color white
                img
                  position absolute
                  left 85px
                  top 6px
                  display block
              .body-list-second-li
                width 100%
                list-style none
                background rgba(255,255,255,0.7)
                position absolute
                left 180px
                top 0
                display none
                a
                 color #121212
                 &:hover
                  color #e94840
              &:hover
                background grey
                img
                  display none
                .body-list-second-li
                  display block
    .daowei
     width 100%
     .box
      width 100%
      height 516px
      display flex
      justify-content center
      .content-container
        width 1200px
        height 496px
        .content-title
          background transparent
          margin-top 50px
          .text-title
            width 100%
            text-align center
            margin-bottom 15px
            span
              color: #3d3838;
              font-weight: 800;
              font-size: 28px;
              font-family: "Microsoft YaHei";
          .text-content
             text-align center
             position relative
             .text-content-super
               font-family: "幼圆";
               font-size: 22px;
               a
                 color #3d3838
             .text-content-service
               font-family: "幼圆";
               font-size: 18px;
               position absolute
               top 2px
               right 0
               color #898989


      .content-img-list
        width 1200px
        height 375px
        display flex
        justify-content space-between
        align-items flex-end
        a
         &:hover
          box-shadow 5px 5px  10px   #1004
         >div
          height 345px
          width 230px
          padding 10px
          border 1px solid #eaeaea
          box-sizing border-box
          img
            width 210px
            height 210px
            margin-bottom 5px
          .content-img-list-suggest
            >span
              font-size: 16px;
              font-weight: 800;
              color: #000;
              height: 28px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
          .content-img-list-introduce
            width 100%
            height 70px
            >span
               padding: 5px 0;
               overflow: hidden;
               text-overflow: ellipsis;
               display: flex;
               flex-wrap wrap;
               font-size: 13px;
               line-height: 18px;
               height: 55px;
          .price-button
            span
              color #fb474f
              font-weight 600
            .check-detial
              font-size 14px
              padding 4px 6px
              border-radius 5px
              display inline-block
              background #fb474f
              color white
              font-weight 400
              margin-left 40px



    .box:nth-child(even)
      background #eaeaea




  //服务页
  .service-body
    width 100%
    display block
    .service-text
      width 100%
      height 85px
      display flex
      align-items center
      justify-content center
      background #eaeaea
      .service-text-inner
        width 1200px
        height 100%
        display flex
        align-items center
        span
         font-weight 800
         font-size 20px
    .service-wrap
     background #eaeaea
     width 100%
     display flex
     justify-content center
     .service-container
      width 1200px
      height 100%
      position relative
      .sercice-left
       width 970px
       height 100%
       display flex
       flex-wrap wrap
       justify-content space-around
       >div
        width 230px
        height 300px
        background #ffffff
        margin-bottom 10px
        padding 10px
        box-sizing border-box
        border 1px solid #1001
        &:nth-child(5n)
          background white
        >img
          width 210px
          height 210px
        .service-list-test
          margin-top 15px
          span
            margin-left 8px
            font-weight 700
            font-size 16px
        .service-list-p
          margin-top 8px
          position relative
          span
            font-size: 12px;
            color: #929292;
            &:last-child
              position absolute
              right 0
              top 4px
        &:hover
          box-shadow 5px 5px 10px #969696
      .service-ad
        .service-ad-top
          width 230px
          height 300px
          position absolute
          top 0
          right -5px
        .service-ad-bottom
          width 230px
          height 300px
          position absolute
          top 310px
          right -5px
      .service-bottom
        width 960px
        height 200px
        margin-bottom 50px
        display flex
        justify-content center
        align-items center
        .service-button
          width 200px
          height 50px
          background #ffffff
          border-radius 5px
          border 1px solid #b1b1b1
          display flex
          justify-content center
          align-items center
          position relative
          img
            margin-left 8px
          span
            color #b1b1b1;






   //底部
  .footer-text1
      width 100%
      h2
        display flex
        justify-content center
        margin-top 100px
        span
          font-size: 30px;
          font-family: "微软雅黑";
          font-weight: 800
        span:nth-child(2)
          color #fb474f
      p
        display flex
        justify-content center
        font-size: 22px;
        color: #3d3838;
        margin-top 13px
  .footer-text2
      text-align center
      margin-top 25px
      ul
        li
          display inline-block
          color: #1d1515;
          font-size: 18px;
          position relative
          img
            position absolute
            top 0
            left -25px
        li:nth-child(2)
          margin 0 60px
  .footer-city
      display flex
      justify-content center
      margin-top 100px
      .footer-city-container
        width 1200px
        height 120px
        position relative
        .city-title
          display inline-block
          width: 80px
          height 100%
          padding-top 8px
          box-sizing border-box
          span
            font-size 18px
            font-weight 600
        .city-test
          width 1100px
          display flex
          flex-wrap wrap
          position absolute
          top 0
          left 100px
          a
            display inline-block
            width: 100px
            height 35px
            text-align center
            line-height 35px
  .footer-logos
      display flex
      justify-content center
      background #eaeaea
  .footer-logos-container
      width 1200px
      .logo-title
        margin-top 50px
        span
          font-size 18px
          font-weight 600
        .logo-wrap-top,.logo-wrap-bottom
          display flex
          justify-content space-between
          margin-top 20px
          >div
            display flex
            width 120px
            height 60px
            background #ffffff
            justify-content center
            align-items center
            img
              width 100px
              height 48px
        .endp
          margin 10px 0
          color #898989



